{% extends '_layouts/base.njk' %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ member.name }}, a member of Queen from {{ member.tenure }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      {% block info %}
        <img src="img/members/{{ member.imagebw }}" alt="{{ member.name }}" class="img-fluid">
        <h3>{{ member.instruments }}</h3>
        <h5> {{ member.tenure }}</h5>
      {% endblock %}
    </div>
    <div class="col-sm-6 col-md-8">
      {% block blurb %}
        <h1>{{ member.name }}</h1>
        <h3>{{ member.birthplace }}, {{ member.birthdate }}</h3>
        <p>{{ member.text | safe }}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
