{% extends '_layouts/base.njk' %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ member.name }}, a member of Queen from {{ member.tenure }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      {% block info %}
        <img src="../img/members/{{ member.imagebw }}" alt="" class="img-fluid">
        <p>{{ member.instruments }}</p>
        <p>{{ member.tenure }}</p>
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block blurb %}
        <h1>{{ member.name }}</h1>
        <h3>{{ member.birthplace }}, {{ member.birthdate }}</h3>
        <p>{{ member.text }}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
