<div class="row mb-4">
  {% for member in queen.members %}
      <div class="col-sm-6 col-md-3">
        <img src="img/members/{{ member.imagebw }}" class="img-fluid" alt="{{ member.name }}">
        <div class="card-body">
          <h3 class="card-title">{{ member.name }}</h3>
          <p class="card-text">Played {{ member.instruments }} from {{ member.tenure }} </p>
          <a href="{{member.slug}}.html" class="btn">{{ member.name }}'s page</a>
        </div>
      </div>
      {% endfor %}
</div>