<div class="row">
  {% for member in queen.members %}
      <div class="col-sm-3">
        <img src="img/members/{{ member.imagebw }}" class="img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <p class="card-text">Played the {{ member.instruments }} from {{ member.tenure }} </p>
          <a href="#" class="btn btn-primary">{{ member.name }}'s page</a>
        </div>
      </div>
      {% endfor %}
</div>