<div class="container">
  <div class="row">
        {% for disc in queen.discography%}
          <div class="col-sm-1">
            <img src="img/discs/{{ disc.image }}" class="img-fluid"  alt="...">
              <h5 class="mt-0 mb-1">{{ disc.title }}</h5>
              <h6> {{ disc.year }} </h6>
          </div>
        {% endfor %}
  </div>
</div>